{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/b1/b11/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}" role="button">cta</a>
      <p class="meta">msg</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">AAA</h2>
        <p>aaa</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">BBB</h2>
        <p>bbb</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">CCC</h2>
        <p>ccc</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">DDD</h2>
        <p>ddd </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">EEE</h2>
        <p>eee</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">FFF</h2>
        <p>fff</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
